[submodule "src/roboticsgroup_upatras_gazebo_plugins"]
	path = src/roboticsgroup_upatras_gazebo_plugins
	url = https://github.com/PhuNguyenPT/roboticsgroup_upatras_gazebo_plugins.git
[submodule "src/ROS-TCP-Endpoint"]
	path = src/ROS-TCP-Endpoint
	url = https://github.com/PhuNguyenPT/ROS-TCP-Endpoint.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/PhuNguyenPT/universal_robot.git
[submodule "src/ur_msgs"]
	path = src/ur_msgs
	url = https://github.com/PhuNguyenPT/ur_msgs.git
[submodule "src/onrobot"]
	path = src/onrobot
	url = https://github.com/PhuNguyenPT/onrobot.git
[submodule "src/moveit_msgs"]
	path = src/moveit_msgs
	url = https://github.com/PhuNguyenPT/moveit_msgs.git
[submodule "src/ros_industrial_cmake_boilerplate"]
	path = src/ros_industrial_cmake_boilerplate
	url = https://github.com/PhuNguyenPT/ros_industrial_cmake_boilerplate.git
[submodule "src/stomp_ros"]
	path = src/stomp_ros
	url = https://github.com/PhuNguyenPT/stomp_ros.git
[submodule "src/stomp"]
	path = src/stomp
	url = https://github.com/PhuNguyenPT/stomp.git
